body {
    background-color: #355C7D;    
    text-align: center;
    color: #FFFFF0;
}

.main-page-title {
    color: black;
    background-color: #FFFAFA;
    text-align: center;
    padding: 10px;
    border-radius:10px;
}

.headers {
    background-color: #FFA500;
    padding: 5px;
    border-radius: 10px;
}

div.container, ul.list, ul.list a {
    color: #FFFFF0;
}

ul li {
    margin-bottom: 50px;
}

ol li {
    margin-bottom: 50px;
}

div.container{
    text-align: center;
}

ul.list{
    display:inline-block;
    text-align: left;
}

ol.list{
    display: inline-block;
    text-align: left;
}