body, a {
    background-color: #355C7D;    
    color: #FFFFF0;
}

.main-page-title {
    font-size: x-large;
    color: black;
    background-color: #FFFAFA;
}

.headers {
    background-color: #FFA500;
    font-size:large;
}